@import 'openmina';

:host ::ng-deep .mina-table .row.active > span > span {
  color: $selected-primary !important;
}

.mina-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400 !important;
}

.benchmark,
.account {
  width: 24px;
  height: 24px;
}

.benchmark {
  background-color: $selected-container;
  color: $selected-primary;
}

.account {
  background-color: $special-selected-alt-2-container;
  color: $special-selected-alt-2-primary;
}
