<div class="h-sm w-100 fx-row-vert-cent flex-between bg-container border-rad-4 pl-10 pr-10">
  <div class="fx-row-vert-cent">
    <div class="circle red"></div>
    <div class="secondary pl-8 pr-8">Missing</div>
    <div class="primary">{{ missing }}</div>
  </div>
  <span class="mina-icon icon-200">keyboard_double_arrow_right</span>

  <div class="fx-row-vert-cent">
    <div class="circle gray"></div>
    <div class="secondary pl-8 pr-8">Fetching</div>
    <div class="primary">{{ fetching }}</div>
  </div>
  <span class="mina-icon icon-200">keyboard_double_arrow_right</span>

  <div class="fx-row-vert-cent">
    <div class="circle white"></div>
    <div class="secondary pl-8 pr-8">Fetched</div>
    <div class="primary">{{ fetched }}</div>
  </div>
  <span class="mina-icon icon-200">keyboard_double_arrow_right</span>

  <div class="fx-row-vert-cent">
    <div class="circle blue"></div>
    <div class="secondary pl-8 pr-8">Applying</div>
    <div class="primary">{{ applying }}</div>
  </div>
  <span class="mina-icon icon-200">keyboard_double_arrow_right</span>

  <div class="fx-row-vert-cent">
    <div class="circle green"></div>
    <div class="secondary pl-8 pr-8">Applied</div>
    <div class="primary">{{ applied }}</div>
  </div>
</div>