<div class="fx-row-vert-cent primary h-xl f-600">
  <span class="mina-icon icon-200 mr-10">straighten</span>
  Block Height
</div>
<div class="flex-row h-minus-xl">
  <mina-card label="Max Observed"
             color="var(--special-selected-alt-1-primary)"
             [value]="7692"
             icon=""
             hint="2s ago"
             class="mr-10"></mina-card>
  <mina-card label="Berkeley Testnet"
             color="var(--base-tertiary)"
             [value]="7692"
             icon=""
             hint="2s ago"></mina-card>
</div>
