@import 'openmina';

:host {
  height: 40px;
  @media (max-width: 767px) {
    height: 56px;
  }
}

.toolbar {
  //.mobile-toggle {
  //  width: 46px;
  //}

  .percentage {
    width: 200px;

    span {
      width: 18px;
    }
  }

  .loading {
    height: 1px;
    width: 25%;
    border-radius: 4px;
    background-color: $selected-primary;
    bottom: 0;
    left: 0;
    animation: loading 1.5s infinite;
    animation-timing-function: linear;
  }

  .server-pill {
    @media (max-width: 767px) {
      flex-direction: row-reverse;
      margin: 0 8px;
      gap: 8px;
      mina-server-status,
      mina-block-production-pill {
        max-width: calc(50% - 4px);
        flex-grow: 1;
      }

      &.bootstrapping {
        gap: 0;

        mina-server-status {
          max-width: 100%;
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    left: -15%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 85%;
  }
}

@media (max-width: 767px) {
  :host {
    border: none !important;
  }

  .toolbar {
    background-color: $base-surface;
  }
}
