[submodule "deps/algebra"]
	path = deps/algebra
	url = https://github.com/openmina/algebra
	branch = openmina
[submodule "deps/proof-systems"]
	path = deps/proof-systems
	url = https://github.com/openmina/proof-systems
	branch = ledger-newtypes
[submodule "deps/redux-rs"]
	path = deps/redux-rs
	url = https://github.com/openmina/redux-rs.git
