.env.docker
/target
/node/testing/res/
circuit-blobs
.DS_Store
*.profraw
node_modules

# Output of build-wasm
pkg/

# Outputs of build-tests-webrtc
cargo-build-test.json
tests.tsv

# Generated API docs should not be committed
website/static/api-docs/

ledger/3.0.0mainnet
ledger/berkeley-devnet
mina-workdir
.idea/
