[submodule "deps/ledger"]
	path = deps/ledger
	url = ../ledger.git
[submodule "deps/mina-p2p-messages-rs"]
	path = deps/mina-p2p-messages-rs
	url = ../mina-p2p-messages-rs.git
[submodule "deps/algebra"]
	path = deps/algebra
	url = https://github.com/openmina/algebra
	branch = openmina
[submodule "deps/proof-systems"]
	path = deps/proof-systems
	url = https://github.com/openmina/proof-systems
	branch = ledger-newtypes
