.env.docker
/target
/tools/testing/res/
circuit-blobs
.DS_Store
*.profraw
node_modules

# Output of build-wasm
pkg/

# Outputs of build-tests-webrtc
cargo-build-test.json
tests.tsv

# Generated API docs should not be committed
website/static/api-docs/
website/static/openapi/openapi.json

crates/ledger/3.0.0mainnet
crates/ledger/berkeley-devnet
mina-workdir
.idea/
.gemini/
