cargo-features = ["named-profiles"]

[workspace]
members = [
    "cli",
    "p2p",
    "snarker",
    "node/shared",
    "node/p2p",
    "node/lib",
    "node/snark",
    "node/wasm"
]

[profile.fuzz]
inherits = "release"
opt-level = 3
debug = 2
debug-assertions = true  # TODO: test and disable if too slow
overflow-checks = true
lto = false
panic = "abort"
incremental = false
codegen-units = 1

[patch.'https://github.com/openmina/algebra']
ark-ff = { path = "deps/algebra/ff" }
ark-ec = { path = "deps/algebra/ec" }
ark-poly = { path = "deps/algebra/poly" }
ark-serialize = { path = "deps/algebra/serialize" }

[patch.crates-io]
ark-ff = { path = "deps/algebra/ff" }
ark-ec = { path = "deps/algebra/ec" }
ark-poly = { path = "deps/algebra/poly" }
ark-serialize = { path = "deps/algebra/serialize" }

[patch.'https://github.com/openmina/proof-systems']
mina-hasher = { path = "deps/proof-systems/hasher" }
mina-signer = { path = "deps/proof-systems/signer" }
mina-curves = { path = "deps/proof-systems/curves" }
o1-utils = { path = "deps/proof-systems/utils" }
kimchi = { path = "deps/proof-systems/kimchi" }
poly-commitment = { path = "deps/proof-systems/poly-commitment" }
mina-poseidon = { path = "deps/proof-systems/poseidon" }

[patch.'https://github.com/o1-labs/proof-systems']
mina-hasher = { path = "deps/proof-systems/hasher" }
mina-signer = { path = "deps/proof-systems/signer" }
mina-curves = { path = "deps/proof-systems/curves" }
o1-utils = { path = "deps/proof-systems/utils" }
kimchi = { path = "deps/proof-systems/kimchi" }
poly-commitment = { path = "deps/proof-systems/poly-commitment" }
mina-poseidon = { path = "deps/proof-systems/poseidon" }


[patch.'https://github.com/openmina/mina-p2p-messages-rs']
mina-p2p-messages = { path = "deps/mina-p2p-messages-rs" }

[patch.'https://github.com/openmina/ledger']
ledger = { path = "deps/ledger", package = "mina-tree" }
