<div class="row-wrap head fx-row-full-cent w-100">
  <div class="row head h-xl f-600">
    <span class="pl-12">Web Node Public Key</span>
    <span>Uptime</span>
    <span>Produced Blocks</span>
  </div>
</div>
<div class="flex-column h-minus-xl w-100 p-relative">
  @if (!isLoading) {
    @for (row of rows; track $index) {
      <div class="row-wrap fx-row-full-cent w-100"
           [tooltip]="'Not eligible: Reserved for Mina Foundation testing'"
           [tooltipDisabled]="!row.isWhale"
           [maxWidth]="1000"
           [class.whale]="row.isWhale"
           [class.odd]="$index % 2 === 0">
        <div class="row">
          <span class="fx-row-vert-cent text-capitalize pl-12">
            {{ row.publicKey | truncateMid: (desktop ? 15 : 6): 6 }}
          </span>
          <span class="fx-row-vert-cent">
            <span class="perc">{{ row.uptimePercentage }}%</span>
            @if (!row.isWhale && row.uptimePercentage > 33.33) {
              <span class="mina-icon icon-200 f-big circle blue" [tooltip]="'Met minimum uptime for Uptime Lottery'" [position]="TooltipPosition.BOTTOM">circle</span>
            }
            @if (row.uptimePrize) {
              <span class="mina-icon icon-200 f-big circle purple" [tooltip]="'Among nodes with highest uptime'" [position]="TooltipPosition.BOTTOM">circle</span>
            }
          </span>
          <span class="fx-row-vert-cent">
            <span class="mr-8">{{ row.blocksProduced ?? 0 }}</span>
            @if (row.blocksPrize) {
              <span class="mina-icon icon-200 f-big circle dark-red" [tooltip]="'Among top block producers'" [position]="TooltipPosition.BOTTOM">circle</span>
            }
          </span>
        </div>
      </div>
    }
  } @else {
    <div class="w-100 h-100 p-absolute fx-col-full-cent"
         @fadeInOut>
      <mina-loading-spinner [size]="50" [borderWidth]="3"></mina-loading-spinner>
      <div class="f-400 mt-16 mb-10">Loading</div>
    </div>
  }
</div>
