[package]
name = "openmina-node-testing"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[lib]
name = "openmina_node_testing"
path = "src/lib.rs"

[[bin]]
name = "openmina-node-testing"
path = "src/main.rs"

[dependencies]
serde = "1.0.147"
serde_json = { version = "1.0.82", features = ["unbounded_depth", "arbitrary_precision"] }
anyhow = "1.0.70"
bincode = "1.3.3"
rand = "0.8"
tokio = { version = "1.26.0" }
num_cpus = "1.0"
rayon = "1.5"
axum = "0.6"
tower-http = { version = "0.4.4", features = ["cors"] }
strum = "0.24.1"
strum_macros = "0.24.3"
documented = { version = "0.1", optional = true }
redux = { git = "https://github.com/openmina/redux-rs.git", branch="feat/global-time", features = ["serde"] }
ledger = { workspace = true }
mina-p2p-messages = { workspace = true }
libp2p = { git = "https://github.com/openmina/rust-libp2p", branch="dan_kad", default-features = false, features = ["macros", "serde", "tcp", "dns", "tokio", "yamux", "pnet", "noise", "gossipsub"] }

console = "0.15.5"
clap = { version = "4.3", features = [ "derive", "env" ] }

openmina-core = { path = "../../core" }
node = { path = "../../node" }
openmina-node-native = { path = "../../node/native" }

[features]
scenario-generators = ["documented"]
