<ng-container #minaTable></ng-container>

<ng-template #rowTemplate let-row="row">
  <span>
    <mina-copy [display]="row.peerId | truncateMid" [value]="row.peerId"></mina-copy>
  </span>
  <span class="fx-row-vert-cent text-capitalize" [ngClass]="row.status">
    <mina-loading-spinner *ngIf="row.status === DashboardPeerStatus.CONNECTING; else circle"
                          class="loading mr-10"></mina-loading-spinner>
    <ng-template #circle><span class="mina-icon icon-200 mr-10 f-big">circle</span></ng-template>
    {{ row.status }}
  </span>
  <span>{{ row.datetime }}</span>
  <span class="secondary">{{ row.address ?? '-' | truncateMid: 20: 0 }}</span>
  <span class="secondary">{{ row.globalSlot ?? '-' }}</span>
  <span class="secondary">{{ row.height ?? '-' }}</span>
  <span>{{ row.bestTipDatetime }}</span>
  <span>
    <mina-copy [display]="row.bestTip ?? '-' | truncateMid" [value]="row.bestTip"></mina-copy>
  </span>
</ng-template>
