<mina-state-actions-toolbar></mina-state-actions-toolbar>
<div class="h-minus-xl">
  <mina-horizontal-resizable-container [leftTemplate]="left"
                                       [rightTemplate]="right"
                                       [show]="show"
                                       [minWidth]="400"
                                       [maxWidthElement]="el.nativeElement"
                                       localStorageKey="state-actions-spw">
  </mina-horizontal-resizable-container>
</div>

<ng-template #left>
  <mina-state-actions-graph-list></mina-state-actions-graph-list>
</ng-template>

<ng-template #right>
  <mina-state-actions-side-panel></mina-state-actions-side-panel>
</ng-template>
