<div class="flex-row flex-between align-center flex-column-reverse-sm align-start-sm">
  <div>© 2025 Mina Foundation. All rights reserved.</div>
  <div class="right-side fx-row-vert-cent flex-column-sm align-start-sm">
    <a target="_blank" href="https://docs.google.com/document/d/1E4R-Ze0S6QbOI1ycvP8wdZbsAJZNiYH-jwEqWyktFOw/edit?usp=sharing">Terms and Conditions</a>
    <a target="_blank" href="https://www.minafoundation.com/privacy-policy">Privacy Policy</a>
    <a target="_blank" href="https://www.minafoundation.com/impressum">Impressum</a>
  </div>
</div>
