::ng-deep mina-card:last-child {
  width: unset;

  div:last-child {
    white-space: nowrap;
  }
}

mina-card {
  height: 109px;
}

.pub-key {
  font-size: 24px;
  font-weight: 600;

  & + div {
    margin-left: -2px;
  }
}
