@import 'openmina';

:host {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $base-tertiary;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
