@import 'openmina';

.mina-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400 !important;
}

.Produced.Block {
  color: $success-primary;
}

.Dropped {
  color: $aware-primary;
}

:host ::ng-deep cdk-virtual-scroll-viewport {
  overflow-y: auto !important;
}

.fx-row-vert-cent {
  mina-loading-spinner,
  .mina-icon {
    width: 26px;
  }

  mina-loading-spinner {
    margin-left: -5px;
    margin-right: 5px;
  }

  .mina-icon {
    padding-left: 2px;
  }
}
