<ng-container #minaTable></ng-container>

<ng-template #rowTemplate let-row="row">
  <span class="fx-row-vert-cent text-capitalize" [ngClass]="row.message">
    <mina-loading-spinner
      *ngIf="row.active || row.status === BlockProductionWonSlotsStatus.Committed; else icon"></mina-loading-spinner>
    <ng-template #icon>
      <span *ngIf="row.status === BlockProductionWonSlotsStatus.Scheduled; else circle"
            class="mina-icon icon-200 f-20">schedule</span>
      <ng-template #circle>
        <span class="mina-icon icon-200 f-big">circle</span>
      </ng-template>
    </ng-template>
    {{ row.percentage !== undefined ? row.percentage + '%' : '' }} {{ row.message }}
  </span>
  <span>{{ row.age }}</span>
  <span>{{ row.height ?? '-' }}</span>
  <span>{{ row.globalSlot }}</span>
  <span
    [tooltipDisabled]="true"
    [tooltip]="row.payments + ' payments, ' + row.delegations + ' delegations, ' + row.zkapps + ' zkapps'"
  >{{ row.transactionsTotal ?? '-' }}</span>
  <span>{{ row.snarkFees ?? '-' }}</span>
  <span>{{ row.coinbaseRewards ?? '-' }}</span>
  <span>{{ row.txFeesRewards ?? '-' }}</span>
</ng-template>

