<ng-container *ngIf="activePeer">
  <div class="h-lg flex-row pl-12">
    <button class="btn-primary mr-8" (click)="expandEntireJSON()">Expand All</button>
    <button class="btn-primary mr-8" (click)="collapseEntireJSON()">Collapse All</button>
    <button class="btn-primary mr-8" [copyToClipboard]="jsonString">Copy</button>
    <button class="btn-primary" (click)="downloadJson()">Save</button>
  </div>
  <div class="flex-column h-minus-lg overflow-y-scroll">
    <mina-json-viewer [expanded]="false" [json]="activePeer || {}"
                      [expandTracking]="expandingTracking"></mina-json-viewer>
  </div>
</ng-container>
