<mina-horizontal-resizable-container [leftTemplate]="left"
                                     [rightTemplate]="right"
                                     [show]="true"
                                     [minWidth]="320"
                                     [maxWidthElement]="el.nativeElement"
                                     localStorageKey="network-dht-side-panel-width">
</mina-horizontal-resizable-container>

<ng-template #left>
  <mina-network-node-dht-line></mina-network-node-dht-line>
  <mina-network-node-dht-table class="flex-1"></mina-network-node-dht-table>
</ng-template>

<ng-template #right>
  <mina-network-node-dht-side-panel></mina-network-node-dht-side-panel>
</ng-template>
