<mina-horizontal-resizable-container [leftTemplate]="left"
                                     [rightTemplate]="right"
                                     [show]="true"
                                     [minWidth]="320"
                                     [maxWidthElement]="el.nativeElement"
                                     localStorageKey="network-dht-side-panel-width">
</mina-horizontal-resizable-container>

<ng-template #left>
  <app-node-dht-table></app-node-dht-table>
</ng-template>

<ng-template #right>
  <app-node-dht-side-panel></app-node-dht-side-panel>
</ng-template>
