<div class="logo-header w-100 border-bottom fx-row-full-cent">
  <img ngSrc="assets/images/logo/logo-text.svg" height="40" width="136"/>
</div>
<div class="data-wrapper fx-col-full-cent">
  <div class="header flex-column align-center mb-16 pb-12 pl-10 pr-10 text-center">
    <div class="loading-webnode f-500">
      Produce blocks,
      <span>&nbsp;right in your browser</span>
    </div>

    <div class="font-16 tertiary mt-16 font-16 f-300">
      @if (!loading[loading.length - 1].loaded) {
        @if (loading[0].status === WebNodeStepStatus.LOADING) {
          Downloading...
        } @else {
          ~7 seconds left
        }
      } @else {
        Web Node is ready
      }
    </div>
  </div>

  <div #progress class="progress w-100"></div>

  <div class="mt-16 flex-column w-100 pl-10 pr-10">
    @for (item of loading; track $index) {
      <div class="fx-row-vert-cent h-xl font-16">
        @if (item.status === WebNodeStepStatus.LOADING) {
          <mina-loading-spinner [size]="20" [borderWidth]="2"></mina-loading-spinner>
        } @else {
          <span [ngClass]="item.status === WebNodeStepStatus.DONE ? 'success-primary' : 'tertiary'"
                class="circle-check mina-icon icon-200">check_circle</span>
        }
        <div [ngClass]="item.status === WebNodeStepStatus.PENDING ? 'tertiary' : 'primary'"
             class="ml-8 f-400">{{ item.name }}
        </div>
        @if (item.data) {
          @if (item.data.total) {
            <span class="tertiary ml-5">{{ item.data.downloaded }} of {{ item.data.total }} MB</span>
          } @else {
            <span class="tertiary ml-5">{{ item.data.est }}</span>
          }
        }
      </div>
    }
  </div>

  @if (!loading[loading.length - 1].loaded && errors.length) {
    <div class="flex-column w-100 bg-surface p-12 mt-10 border-rad-6">
      <div class="font-16 flex-row flex-column-md flex-between align-center flex-start-md"
           [ngClass]="errors.length ? 'warn-primary' : 'aware-primary'">
        <div>It appears there are some errors.</div>
      </div>
      <div class="flex-column border-rad-8 warn-secondary monospace break-word">
        @for (error of errors; track $index) {
          <div class="lh-sm">{{ error }}</div>
        }
      </div>
    </div>
  }
</div>
<div class="footer border-top fx-row-vert-cent flex-between w-100 pl-10 pr-10">
  <div class="fx-row-vert-cent">
    <span class="mina-icon icon-300 selected-primary mr-5">lightbulb</span>
    <div class="selected-primary f-big f-500">
      You can run the Web Node from your phone
    </div>
  </div>
  <button class="border-rad-8 fx-row-full-cent font-16 ml-10"
          [class.disabled]="!loading[loading.length - 1].loaded"
          (click)="goToDashboard()">
    <span>Continue</span>
  </button>
</div>
