@import 'openmina';

.mina-icon {
  font-variation-settings: 'FILL' 1, 'wght' 300 !important;
}

.group {
  .steps {
    position: relative;
    padding-left: 40px;
    color: $base-tertiary;

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 10px;
      width: 1px;
      height: calc(100% + 10px);
      background-color: $base-divider;
    }

    .step {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% + 0px);
        left: -29px;
        width: 20px;
        height: 1px;
        background-color: $base-divider;
      }
    }
  }

  &:last-child .steps::before {
    height: calc(100% - 13px);
  }

  &.pending {
    .group-title {
      color: $base-tertiary;
    }

    .steps .step {
      color: $base-tertiary;
    }
  }

  &.success {
    .group-title {
      color: $success-primary;
    }

    .steps::before,
    .steps .step::before {
      background-color: $base-tertiary;
    }
  }

  &.loading {
    .step {
      color: $base-secondary;
    }
  }

  .pending-icon {
    width: 20px;
    height: 20px;

    span {
      background-color: $base-tertiary;
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }

    &.success span {
      background-color: $success-primary;
    }
  }

  .loading-icon {
    animation: spin 2s linear infinite;
  }
}

.tooltip-row {
  display: grid;
  grid-template-columns: 40px 1fr;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

