@import 'openmina';

$green: #59bfb5;
$light-peach: #0d0d0d;
$peach: #acdea0;
$sand: #5bb3fb;
$white: #000000;

:host {
  font-size: 16px;
}

.demo {
  border: 1px solid $base-tertiary;
  height: 32px;
  padding: 0 12px;
  color: $base-primary;
  background: rgba(255, 255, 255, 0.10);
  margin-bottom: 48px;
}

.f-page-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.f-section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.f-feature {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.019em;
}

.f-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.019em;
}

.f-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.f-cta {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.019em;
}

.welcome-container {
  height: 76vh;
  background: linear-gradient(180deg, transparent 75%, $base-background), url('../../../assets/images/web-node-demo/Hero BG.jpg');
  background-size: cover;
  background-position: top;

  .logo {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1250px;
  }

  h1 {
    max-width: 980px;
  }

  .independently {
    margin-bottom: 96px;
  }

  .mina-svg {
    max-width: 371px;
  }
}

.launch {
  height: 56px !important;
  font-size: 20px;
  width: 298px;
  background: linear-gradient(to right, $green 0%, $sand 50%, $peach 100%);
  background-size: 500%;
  margin-bottom: 96px;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: gradient-out;

  &:hover {
    animation-name: gradient-in;
  }
}

.card-list {
  margin-top: 40px;
  margin-bottom: 160px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 24px;

  .card-wrapper {
    height: 216px;
    max-width: 400px;
    background: linear-gradient(148deg, rgba(#59bfb5, 0.3) 20%, rgba(#acdea0, 0.3), rgba(#acdea0, 0.1), rgba(100, 100, 100, 0.1) 70%, transparent 80%);
    padding: 1px;

    .card {
      padding: 24px;

      .mina-icon {
        color: #59bfb5;
        font-size: 32px;
      }

      > * {
        margin-bottom: 24px;
      }
    }
  }
}

.hardcoded-key {
  background-color: $warn-container;
  color: $warn-primary;
  margin: 0 10px;
  width: calc(100% - 20px);
  max-width: 946px;
}

.wrapper {
  @media (max-width: 960px) {
    padding-left: 6.667vw !important;
    padding-right: 6.667vw !important;
  }
}

.page-title-2 {
  margin-bottom: 32px;
}

.page-title-2-descr {
  max-width: 820px;
  margin-bottom: 64px;
}

.images {
  max-width: 984px;
  padding: 24px;
  width: 100%;
  gap: 24px;
  margin: 64px auto;

  .step {
    gap: 24px;
    position: relative;

    .step-text {
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;
    }

    .step-num {
      min-width: 32px;
      min-height: 32px;
      border-radius: 50%;
      background: linear-gradient(96deg, $sand 0%, $peach 132.89%);
      color: $base-background;
      font-size: 18px;
      margin-right: 24px;
    }

    .bar-container {
      width: 32px;
      height: 100%;
      margin-right: 24px;

      .bar {
        background: rgba(255, 255, 255, 0.20);
        position: absolute;
        width: 1px;
        left: 16px;
        top: 62px;
        height: calc(100% - 62px);
      }
    }

    .img-border-container {
      width: calc(100% - 56px);
      background: linear-gradient(148deg, rgba(#59bfb5, 0.3) 20%, rgba(#acdea0, 0.3), rgba(#acdea0, 0.1), rgba(100, 100, 100, 0.1) 70%, transparent 80%);
      padding: 1px;

      .img-container {
        padding: 24px 16px;

        img {
          width: auto;
          height: auto;
          max-width: 100%;
        }
      }
    }
  }
}

button {
  @media (max-width: 960px) {
    width: 100% ! important;
  }
}

@keyframes gradient-in {
  0% {
    background-position: 0 50%
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient-out {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0 50%
  }
}


@media (min-width: 361px) and (max-width: 1024px) {
  .f-page-title {
    font-size: 6.667vw;
    line-height: 8.889vw;
  }

  .f-section-title {
    font-size: 6.667vw;
    line-height: 8.889vw;
  }

  .f-feature {
    font-size: 5.556vw;
    line-height: 6.667vw;
  }

  .f-description {
    font-size: 5.556vw
  }

  .f-body {
    font-weight: 500;
    letter-spacing: -0.084vw;
    font-size: 4.444vw;
  }

  .f-cta {
    font-weight: 400;
  }

  .welcome-container {
    height: auto;
    padding-left: 6.667vw !important;
    padding-right: 6.667vw !important;

    .logo {
      font-size: 6.667vw;
      margin-bottom: 30px;
      text-align: center;
    }

    .independently {
      margin-bottom: 8.889vw;
    }

    .mina-svg {
      max-width: 61.667vw;
    }
  }

  .launch {
    font-size: 5.556vw;
    height: 15.556vw !important;
    margin-bottom: 17.778vw;
  }

  .card-list {
    padding-left: 6.667vw;
    padding-right: 6.667vw;
    margin-bottom: 17.778vw;
    margin-top: 17.778vw;

    .card-wrapper {
      min-height: 55.556vw;
      max-width: 100vw;

      .card {
        padding: 6.667vw 4.444vw 6.667vw 6.667vw;

        .mina-icon {
          font-size: 8.889vw;
        }
      }
    }
  }

  .hardcoded-key {
    font-size: 4vw;

    .mina-icon {
      font-size: inherit;
    }
  }
}

@media (max-width: 360px) {
  .f-page-title {
    font-size: 24px;
    line-height: 32px;
  }

  .f-section-title {
    font-size: 24px;
    line-height: 32px;
  }

  .f-feature {
    font-size: 20px;
    line-height: 24px;
  }

  .f-description {
    font-size: 20px;
  }

  .welcome-container {
    height: auto;
    padding-left: 24px !important;
    padding-right: 24px !important;

    .logo {
      font-size: 24px;
      margin-bottom: 7.692vw;
    }

    .independently {
      margin-bottom: 32px;
    }

    .mina-svg {
      max-width: 222px;
    }
  }

  .launch {
    margin-bottom: 64px;
  }

  .card-list {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 64px;
    margin-top: 64px;

    .card-wrapper {
      height: 200px;

      .card {
        padding: 24px 16px 24px 24px;
      }
    }
  }
}
