<div class="fx-row-vert-cent primary h-xl f-600">
  <span class="mina-icon icon-200 mr-10">download</span>
  Received
</div>
<div class="flex-row h-minus-xl">
  <mina-card label="Blocks"
             color="var(--special-selected-alt-2-primary)"
             [value]="100"
             class="mr-10"></mina-card>
  <mina-card label="Transactions"
             color="var(--base-tertiary)"
             [value]="null"
             class="mr-10"></mina-card>
  <mina-card label="SNARKs"
             color="var(--base-tertiary)"
             [value]="null"></mina-card>
</div>
