<div class="flex-column w-100 border-rad-6" [ngClass]="appliedPercentage === 100 ? 'bg-surface' : 'border'">
  <div class="h-xl lh-xl fx-row-vert-cent flex-between f-600 pl-12 pr-12 border-bottom">
    <div class="fx-row-vert-cent">
      @if (appliedPercentage === 100) {
        <span class="mina-icon f-20 success-primary">check_circle</span>
      } @else {
        <mina-loading-spinner></mina-loading-spinner>
      }
      <div class="ml-8" [class.success-primary]="appliedPercentage === 100">Last 290 blocks</div>
    </div>
    <div class="f-400 tertiary">{{ syncProgress }}</div>
  </div>
  <div class="flex-row flex-wrap align-center f-base mobile">
    <mina-card label="Fetched blocks"
               labelColor="var(--base-tertiary)"
               [color]="fetchedPercentage === '100%' ? 'var(--success-primary)' : 'var(--base-primary)'"
               [value]="fetchedPercentage"
               [hint]="(fetched || 0) + '/290 blocks'"></mina-card>
    <mina-card label="Applied blocks"
               labelColor="var(--base-tertiary)"
               [color]="appliedPercentage === 100 ? 'var(--success-primary)' : 'var(--base-primary)'"
               [value]="appliedPercentage !== undefined ? appliedPercentage + '%' : '-'"
               [hint]="(applied || 0) + '/290 blocks'"></mina-card>
    @if (isDesktop) {
      <mina-card label="Root"
                 labelColor="var(--base-tertiary)"
                 color="var(--base-tertiary)"
                 [value]="root"
                 [hint]="rootText"></mina-card>
    }
    <mina-card label="Target (Best Tip)"
               labelColor="var(--base-tertiary)"
               color="var(--base-tertiary)"
               [value]="bestTipBlock"
               [hint]="bestTipBlockSyncedText"></mina-card>
    @if (isDesktop) {
      <mina-card label="Max Observed"
                 labelColor="var(--base-tertiary)"
                 color="var(--base-tertiary)"
                 icon="info"
                 [tooltipText]="'This is the highest observed block within the peer network.'"
                 [value]="targetBlock || '-'"
                 [hint]="targetBlock ? 'Now' : 'Waiting peers'"></mina-card>
    }
  </div>
</div>
