@import 'openmina';

.green {
  color: $success-primary;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 12px;
  background-color: $base-tertiary;

  &.Connected {
    background-color: $success-primary;
  }
}

:host ::ng-deep mina-table .row.active {
  .circle {
    background-color: $selected-primary !important;
  }
}
