@import 'openmina';

.list {
  height: 16px;
}

.point {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: $base-secondary;
  transform: translateY(-50%);

  &.origin {
    background-color: $base-surface;
    border: 2px solid $special-selected-alt-1-primary;

    &:hover {
      background-color: $special-selected-alt-1-primary;
    }
  }

  &:hover:not(.origin) {
    background-color: $base-primary;
  }
}

.bucket {
  border-radius: 0;
  border-right: 2px dotted $base-tertiary;
  top: 50%;
  transform: translateY(-50%);
  background-color: $base-container;

  .mid-line {
    height: 1px;
    background-color: $base-tertiary2;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: $selected-container;

    .mid-line {
      background-color: $selected-primary;
    }
  }
}
