@import 'openmina';

.pagination-group {
	button {
		background-color: transparent;
		color: $selected-primary;

		&:hover {
			background-color: $selected-container;
		}
	}

	.selected-primary {
		width: 45px;
	}
}
