@import 'openmina';

::ng-deep body.light mina-dashboard-errors .acc-header {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $base-divider;
  }
}

.errors-list {
  transition: 0.2s ease-in-out;

  &:not(.open) {
    max-height: 0 !important;
  }

  &.open {
    max-height: 110px;
  }

  .resync {
    height: 28px;
    line-height: 28px;
  }
}
