<mina-horizontal-resizable-container [leftTemplate]="left"
                                     [rightTemplate]="right"
                                     [show]="isActiveRow"
                                     [minWidth]="320"
                                     [maxWidthElement]="el.nativeElement"
                                     localStorageKey="network-connections-side-panel-width">
</mina-horizontal-resizable-container>

<ng-template #left>
  <mina-network-connections-table></mina-network-connections-table>
</ng-template>

<ng-template #right>
  <mina-network-connections-side-panel></mina-network-connections-side-panel>
</ng-template>
