<div class="gradient fx-row-full-cent p-absolute w-100">
  Round 1 Applications Close in 5d 5h 12m - Apply <span class="mina-icon icon-200">arrow_right_alt</span>
</div>

<div class="flex-column h-100 w-100 overflow-auto">
  <mina-leaderboard-header></mina-leaderboard-header>
  <main class="flex-1 flex-column">
    <mina-leaderboard-title></mina-leaderboard-title>
    <mina-leaderboard-filters></mina-leaderboard-filters>
    <mina-leaderboard-table></mina-leaderboard-table>
  </main>
  <mina-leaderboard-footer></mina-leaderboard-footer>
</div>
