<div class="fx-row-vert-cent primary h-xl f-600">
<span class="mina-icon icon-200 mr-10">language</span>
  Peer Discovery
</div>
<div class="flex-column h-minus-xl bg-surface">
  <div class="fx-row-vert-cent border-bottom">
    <mina-card label="Connecting"
               [value]="stats?.connecting"
               hint="Peer"></mina-card>
    <mina-card label="Connected"
               color="var(--success-primary)"
               [value]="stats?.connected"
               hint="Peer"></mina-card>
    <mina-card label="Disconnected"
               [value]="stats?.disconnected"
               hint="Peers"></mina-card>
  </div>
  <div class="table-zone">
    <mina-dashboard-peers-table></mina-dashboard-peers-table>
  </div>
</div>
