@import 'leaderboard-variables';

:host {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: $black6;
  margin-bottom: 56px;
  margin-top: 0;

  @media (max-width: 1023px) {
    font-size: 10vw;
  }
}

h2 {
  margin-top: 72px;
  margin-bottom: 16px;
  color: $mina-base-secondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
