@import 'leaderboard-variables';

:host {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: $black6;
  margin: 80px 0;

  @media (max-width: 1023px) {
    font-size: 10vw;
  }
}
