$mina-cta-primary: white;
$mina-base-divider: rgba(45, 45, 45, 0.10);
$white4: rgba(45, 45, 45, 0.4);
$mina-base-secondary: rgba(45, 45, 45, 0.60);
$mina-base-surface: rgba(226, 235, 239, 0.50);
$mina-base-container: #eff4f6;

$black: rgba(0, 0, 0, 1);
$mina-base-primary: #2d2d2d;
$mina-cta-surface: #2d2d2d;
$black3: rgba(0, 0, 0, 0.20);
$black4: rgba(0, 0, 0, 0.40);
$black5: rgba(96, 96, 96, 1);
$black6: rgba(45, 45, 45, 1);

$mina-access-primary: #8971fd;
$mina-brand-aqua: #bbfdf8;
$mina-brand-cyan: #31cdea;
$mina-brand-lilac: #e2dfff;
$mina-brand-peony: #f1dceb;
$mina-brand-gray: #d9d9d9;
$mina-brand-orchid: #B4448D;

$mina-brand-gradient: linear-gradient(272deg, #b6eeff 2.39%, #f7f5ff 25.39%, #d7c4fa 48.39%, #f4c0da 71.4%, #ffc4a4 94.4%);
$mina-brand-gradient-reversed: linear-gradient(272deg, #ffc4a4 2.39%, #f4c0da 25.39%, #d7c4fa 48.39%, #f7f5ff 71.4%, #b6eeff 94.4%);
$mina-brand-gradient2: linear-gradient(45deg, #57d7ff 8%, #fda2ff 60%, #ff833d 100%);
