<div class="flex-row-xl flex-column pl-12 w-100">
  <mina-dashboard-peers class="mb-16 w-100"></mina-dashboard-peers>
</div>

<!-- THIS IS THE DESIRED VIEW. NOW WE DON'T HAVE DATA FOR ALL OF IT. WE SHOW ONLY WHAT WE HAVE REAL DATA FOR! -->
<!--<div class="flex-row-xl flex-column pl-12 pr-12 w-100">-->
<!--  <mina-dashboard-peers class="mr-16 mb-16 w-50"></mina-dashboard-peers>-->
<!--  <div class="flex-column w-50">-->
<!--    <mina-dashboard-node class="mr-16 mb-16"></mina-dashboard-node>-->
<!--    <mina-dashboard-block-height class="mr-16 mb-16"></mina-dashboard-block-height>-->
<!--    <mina-dashboard-received class="mr-16 mb-16"></mina-dashboard-received>-->
<!--  </div>-->
<!--</div>-->
