<!--<div class="flex-row-xl flex-column pl-12 w-100">-->
<!--  <mina-dashboard-peers class="mb-16 w-100"></mina-dashboard-peers>-->
<!--</div>-->

<div class="flex-column pl-12 pr-12 w-100 h-100 overflow-auto pb-12">
  <mina-dashboard-network></mina-dashboard-network>
  <mina-dashboard-transition-frontier></mina-dashboard-transition-frontier>
  <!--  <mina-dashboard-node class="mr-16 mb-16"></mina-dashboard-node>-->
  <!--  <mina-dashboard-block-height class="mr-16 mb-16"></mina-dashboard-block-height>-->
  <!--  <mina-dashboard-received class="mr-16 mb-16"></mina-dashboard-received>-->
</div>
