name: Openmina Docker Build
on:
  workflow_dispatch: {}
  push:
    branches: [ main, develop ]
    tags: [ "*" ]
    paths-ignore:
      # - ".github/**"
      - ".drone.yml"
      - "helm/**"
      - "*.md"
      - "docs/**"

jobs:
  build-openmina-node-image:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            openmina/openmina
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=sha,format=short
            type=semver,pattern={{version}},event=tag
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          # TODO: enable before merge
          # platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-openmina-frontend-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        configuration:
          - build_configuration: compose
            tag_suffix: ""
          - build_configuration: block_producers
            tag_suffix: "-producer-demo"
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            openmina/frontend
          flavor: |
            suffix=${{ matrix.configuration.tag_suffix }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=sha,format=short
            type=semver,pattern={{version}},event=tag
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          build-args: |
            BUILD_CONFIGURATION=${{ matrix.configuration.build_configuration }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
