name: lint

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup build dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.81
          components: rustfmt, clippy
          default: true
      - uses: actions-rs/cargo@v1
        name: rustfmt
        with:
          command: fmt
          args: --all -- --check
      - uses: actions-rs/cargo@v1
        name: check
        with:
          command: check
          args: --all-targets
        env:
          RUSTFLAGS: -D warnings
      - uses: actions-rs/clippy-check@v1
        name: clippy
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets -- -D warnings --allow clippy::mutable_key_type --allow clippy::result_unit_err
