name: lint

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77
          components: rustfmt, clippy
          default: true
      - uses: actions-rs/cargo@v1
        name: rustfmt
        with:
          command: fmt
          args: --all -- --check
      - uses: actions-rs/clippy-check@v1
        name: clippy
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets -- -A clippy::too_many_arguments -A clippy::doc_markdown
